.dig-slice__inner__graphic{
    font: "Guardian Egyptian Web", serif;
    color: white;

    @include mq(desktop){
        font-size: 1.4em;
        line-height:1.5em;
    }
    
}

.dig-slice__inner__graphic a{
    color: rgba(255,255,255, 0.6);
}

.dig-slice__inner__graphic a:hover{
    color: rgba(255,255,255, 0.8);
}


.dig-slice__inner__graphic h1{
    font-family: "Guardian Egyptian Web", serif; 
    font-weight:200;
    font-size:1.75rem;
    line-height:1em;
    margin:0;
    color: white;
    padding-bottom: $gs-baseline;
    max-width: gs-span(8);

    @include mq(tablet) {
        font-size:2.75rem;;
    }
}

.dig-slice__inner__graphic h2{
    display: inline;
    padding-right: $gs-gutter/2;
    font-family: "Guardian Egyptian Web", serif; 
    font-weight:600;
    font-size: 1rem;
    line-height:1.2em;

    
}

.gv-copy-holder{
    display: inline;
    font-family: "Guardian Egyptian Web", serif; 
    font-weight:200;
    font-size: 1rem;
    line-height:1.5em;
    color: white;
    
}

.gv-highlight-holder{
    font-family: "Guardian Egyptian Web", serif; 
    font-size: 1rem;
    line-height:1.4rem;
    width:100%;
    max-width: gs-span(8);

    @include mq(tablet){
        font-size: 1.125rem;
    }
}

.with-divider{
    border-top: 1px rgba(255,255,255,0.3) solid;
}

.dig-slice__inner__{
    height: gs-height(4);

}
.gv-highlight-holder a{
    color: rgba(255, 255, 255, 0.6) !important;
}
    

.gv-highlight-holder a, .gv-highlight-holder a:hover, .gv-highlight-holder a:active{
    text-decoration: none !important;
    border-bottom: 0.0625rem solid #dcdcdc;
    border-bottom-color: rgba(255,255,255,0.3)
}
.gv-highlight-holder a:hover, .gv-highlight-holder a:active{
    -webkit-transition: border-color .15s ease-out;
    transition: border-color .15s ease-out;
}

.gv-highlight-holder a:before{
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.25rem;
    background-color: rgba(255,255,255,0.3);
    text-decoration: none !important;

}
