.dig-slice__inner__graphic{
    font: "Guardian Egyptian Web", serif;
    color: white;

    @include mq(desktop){
        font-size: 1.4em;
        line-height:1.5em;
    }
    
}

.dig-slice__inner__graphic a{
    color: rgba(255,255,255, 0.6);
}

.dig-slice__inner__graphic a:hover{
    color: rgba(255,255,255, 0.8);
}


.dig-slice__inner__graphic h1{
    font-family: "Guardian Egyptian Web", serif; 
    font-weight:200;
    // font-size: 4em;
    line-height:1em;
    margin:0;
    color: white;
    padding-bottom: gs-height(1);

    @include mq(mobileLandscape) {
        font-size: 3em;
    }
}

.dig-slice__inner__graphic h2{
    display: inline;
    padding-right: $gs-gutter/2;
    font-family: "Guardian Egyptian Web", serif; 
    font-weight:600;
    font-size: 1rem;
    line-height:1.2em;
    color: red;
    
}

.gv-copy-holder{
    display: inline;
    font-family: "Guardian Egyptian Web", serif; 
    font-weight:200;
    font-size: 1rem;
    line-height:1.5em;
    color: white;
    
}

.gv-highlight-holder{
    width:100%;
    max-width: gs-span(8);
}

.with-divider{
    border-top: 1px rgba(255,255,255,0.3) solid;
}

.dig-slice__inner__{
    height: gs-height(4);

}