body,
figure.interactive {
    margin: 0;
    padding: 0;

    @include fs-bodyCopy(2);
}

.dig-slice {
    background-color: #dcdcdc;
    &.dig-slice--filters {
        background-color: #617e8e;
    }
}

.dig-slice__inner {
    clear: left;

    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }

    .dig-slice--standfirst & {
        margin-top: -20px;
        .dig-slice__inner__left {
            max-width: 660px;
        }
    }

    .dig-slice--filters & {
        background-color: #94bfdd;
        padding-bottom: 0;
    }
}

.dig-slice__inner__left {
    @include fs-header(1);
    margin-bottom: 10px;

    @include mq(leftCol) {
        box-sizing: border-box;
        padding-right: 20px;
        width: 140px;
        float: left;
    }

    @include mq(wide) {
        width: 220px;
    }
}

.dig-slice__inner__main {
    overflow: hidden;
}

.dig-tag {
    @include fs-header(3);
}

.dig-date {
    @include fs-textSans(1);
    padding-top: 2px;
    min-height: 48px;
    box-sizing: border-box;
    color: #767676;
    border-top: 1px dotted #dfdfdf;
    border-bottom: 1px dotted #dfdfdf;
}

.dig-share-container {
    border-bottom: 1px dotted #dfdfdf;
    line-height: 1;
    padding-bottom: 10px;

    @include mq(leftCol) {
        border-bottom: 0;
    }
}

.dig-title {
    @include f-headline;
    font-size: 60px;
    line-height: 1;
}

.dig-standfirst {
    color: #767676;
    max-width: 660px;

    @include mq(leftCol) {
        &:first-child {
            margin-top: -4px;
        }
    }
}

.dig-sections {
    counter-reset: day;

    .dig-slice__inner {
        border-bottom: 1px solid #333;
        padding-bottom: 10px;
    }

    .dig-slice:last-child .dig-slice__inner {
        border-bottom: 0;
    }
}

.dig-filters,
.dig-days {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dig-filters__filter {
    width: 25%;
    height: 48px;
    float: left;
    margin-bottom: 20px;
    padding-right: 10px;
    box-sizing: border-box;

    &::before {
        content: "";
        float: left;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background-color: white;
        margin-right: 10px;
    }
}

.dig-filters__filter__link {
    color: white;
}

.dig-days__day {
    $spacing: 10px;

    background-color: #f6f6f6;
    color: #767676;
    font-size: 14px;
    float: left;
    margin: 0 $spacing $spacing 0;
    box-sizing: border-box;
    padding: 5px;
    height: 150px;

    overflow: hidden;

    &::before {
        counter-increment: day;
        content: counter(day);
        display: block;
        color: #94bfdd;
        font-weight: bold;
        font-size: 40px;
        line-height: 1;
    }

    &.dig-days__day--M {
        width: 100%;
        padding-right: 0;
    }

    &.dig-days__day--H {
        width: 100%;
        height: 420px;
        padding-right: 0;
    }

    @include mq(mobileLandscape) {
        width: calc(50% - #{$spacing});
    }

    @include mq(desktop) {
        width: calc(25% - #{$spacing});
        &.dig-days__day--M {
            width: calc(50% - #{$spacing});
        }
    }
}

.dig-days__day__img {
    float: right;
    margin: -45px 0 0 10px;
    height: calc(100% + 10px);
}
