body,
figure.interactive {
    margin: 0;
    padding: 0;

    @include fs-bodyCopy(2);
}

a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.dig-slice {
    background-color: #dcdcdc;
    &.dig-slice--filters {
        background-color: #617e8e;
    }
}

.dig-slice__inner {
    clear: left;

    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }

    .dig-slice--standfirst & {
        margin-top: -10px;
        @include mq(mobileLandscape) {
            margin-top: -20px;
        }
        .dig-slice__inner__left {
            max-width: 660px;
        }
    }

    .dig-slice--filters & {
        background-color: #94bfdd;
        @include mq(mobileLandscape) {
            padding-bottom: 5px;
        }
    }
}

.dig-slice__inner__left {
    position: relative;
    margin-bottom: 20px;

    @include mq(leftCol) {
        box-sizing: border-box;
        padding-right: 20px;
        width: 140px;
        float: left;
    }

    @include mq(wide) {
        width: 220px;
    }
}

.dig-slice__inner__main {
    overflow: hidden;
}

.dig-tag {
    @include fs-header(3);
}

.dig-date {
    @include fs-textSans(1);
    padding-top: 2px;
    min-height: 48px;
    box-sizing: border-box;
    color: #767676;
    border-top: 1px dotted #dfdfdf;
    border-bottom: 1px dotted #dfdfdf;
}

.dig-share-container {
    border-bottom: 1px dotted #dfdfdf;
    line-height: 1;
    padding-bottom: 10px;

    @include mq(leftCol) {
        border-bottom: 0;
    }
}

.dig-title {
    @include f-headline;
    margin: 0;
    max-width: 660px;
    font-size: 40px;
    line-height: 1;
    @include mq(tablet) {
        font-size: 60px;
    }
}

.dig-standfirst {
    color: #767676;
    max-width: 660px;

    @include mq(leftCol) {
        &:first-child {
            margin-top: -4px;
        }
    }
}

.dig-section-title {
    @include fs-header(1);
    padding-right: 90px;
    @include mq(leftCol) {
        padding-right: 0;
    }

    .dig-slice--filters & {
        color: #617e8e;
    }
}

.dig-back-to-top {
    @include f-textSans;
    &,
    &:hover,
    &:active {
        color: #767676;
    }

    position: absolute;
    top: 0;
    right: 0;

    font-size: 12px;
    line-height: 26px;
    @include mq(leftCol) {
        position: static;
        font-size: 14px;
        line-height: inherit;
    }

    & > span {
        vertical-align: middle;
    }
}

.dig-sections {
    counter-reset: day;

    .dig-slice__inner {
        border-bottom: 1px solid #333;
        padding-bottom: 10px;
    }

    .dig-slice:last-child .dig-slice__inner {
        border-bottom: 0;
    }
}

$day-spacing: 20px;

.dig-filters,
.dig-days {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dig-days {
    margin-right: -$day-spacing;
    max-width: 960px;
}

.dig-filters__filter {
    margin-bottom: 10px;
    padding-right: 7px;
    box-sizing: border-box;

    @include mq(tablet) {
        margin-bottom: 15px;
        float: left;
        width: 50%;
        height: 30px;
    }

    @include mq(desktop) {
        width: 25%;
        height: 48px;
    }

}

.dig-filters__filter__link {
    display: block;
    line-height: 20px;
    opacity: 0.8;
    transition: opacity 0.1s ease-out;

    &,
    &:hover,
    &:active {
        color: white;
        text-decoration: none;
    }

    &:hover {
        opacity: 1;
    }
}

.dig-filters__filter__link__text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 38px);
}

.dig-filters__filter__link__circle {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    color: #94bfdd;
    background-color: white;
    margin-right: 4px;
}

.dig-days__day {
    @include fs-bodyCopy(1, $size-only: true);
    position: relative;
    color: #767676;
    float: left;
    margin: 0 $day-spacing $day-spacing 0;
    box-sizing: border-box;

    border-top: 1px solid #94bfdd;
    &.dig-days__day--H:first-child {
        border-top: 0;
    }

    width: 100%;
    min-height: 132px;

    @include mq(mobileLandscape) {
        width: calc(50% - #{$day-spacing});

        &.dig-days__day--B,
        &.dig-days__day--M,
        &.dig-days__day--H {
            width: calc(100% - #{$day-spacing});
        }
    }

    @include mq(desktop) {
        width: calc(25% - #{$day-spacing});
        height: 132px;

        &.dig-days__day--B,
        &.dig-days__day--M {
            width: calc(50% - #{$day-spacing});
        }

        &.dig-days__day--H {
            height: 420px;
        }
    }
}

.dig-days__day__text {
    padding: 5px 20px 5px 5px;
    min-height: 30px;

    @include mq(desktop) {
        display: table-cell;
        vertical-align: top;
    }

    &::before {
        counter-increment: day;
        content: counter(day);
        @include f-headline;
        position: absolute;
        left: 0;
        width: 60px;
        color: #94bfdd;
        font-size: 35px;
        line-height: 1;

    }

    padding-left: 60px;
    @include mq(mobileLandscape) {
        padding-left: 0;
        &::before {
            position: static;
            float: left;
        }
    }

    &.dig-days__day__text--small::before {
        font-size: 30px;
    }

    @include mq(desktop) {
        .dig-days__day--B &,
        .dig-days__day--M &,
        .dig-days__day--H & {
            &::before {
                font-size: 60px;
                width: 80px;
            }
        }
    }
}

.dig-days__day__img {
    @include mq(desktop) {
        display: table-cell;

        .dig-days__day--M & {
            width: 220px;
        }

        .dig-days__day--H & {
            width: 700px;
        }
    }

    & > img {
        width: 100%;
    }
}


// Make 100th number smaller!
#dig-section-F .dig-days__day:last-child .dig-days__day__text::before {
    font-size: 28px;
}
